body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
  
h1 {
    text-align: center;
}
  
form {
    max-width: 300px;
    margin: 0 auto;
}
  
label {
    display: flex;
    margin-top: 10px;
}
  
input[type="radio"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
  
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #45a049;
}
  
#tipo-cuenta label {
    display: inline;
    margin-right: 10px;
}
  
textarea {
    height: 100px;
}
  
input[type="email"], input[type="tel"] {
    margin-bottom: 10px;
}
  
input:required, textarea:required {
    background-color: #fffacd;
    border: 1px solid #f4c842;
}
  
input:invalid, textarea:invalid {
    background-color: #ffd7d7;
    border: 1px solid #e54d4d;
}